 .progress-pill{
  font-size: 0.8rem;
  display: block;
  align-self: center;
  margin-right: 8px;
  
  
  &.pending{
    background-color: green;
    padding:2px 5px 2px 5px;
    // color: hotpink;
    color: white;
    border:solid black;
    border-radius: 15px;
  }
  
}

.complete-pill{
  font-size: 1.0rem;
  
  &.complete{
    background-color:red;
    padding:2px 5px 2px 5px;
    border:solid black ;
    border-radius: 15px;
    color: white;
    
  }
  
}
.assigned-person{
  width: 24vw;
  font-size: 1rem;

}

.delete-button{
  font-size: 1.2rem;
  border: none;
  background-color: bisque;
  font-weight: bold;
  width: 30px;
  height:5px;
  padding-bottom: 15px;
 
 padding-bottom: 26px;
//  margin-left: 145px;

  text-align: center;
  

}
.delete-button:hover{
  color: red;
  transform: scale(1.5);
}
.true{
  background-color: hotpink;
}


.flex-child {
  width: 55%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}




.numberofitems{
  width:185px;
  height: 35px;
 font-weight: bold;
  
}
.top{
  
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.pg-number{
  color:white;
  background-color:black;
}